.item-dropdown a{
    color: black !important;
    background-color: #fff !important;
    padding: 5px !important;
    margin: auto !important;
    outline: none !important;
    text-decoration: none !important;
}

.item-dropdown a:hover{
    color: red !important;
}

p.trucate-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
